.page-footer__inner {
    display: flex;
    align-items: center;

    padding: 68px 0;
}

.page-footer__social-list {
    margin-right: 139px;
}

.page-footer__cta-title {
    margin: 0 0 10px;

    color: var(--color-steel-gray);

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }

.page-footer__cta-desc {
    margin: 0;

    color: var(--color-tundora);

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
