@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"),
        url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-white: #FFFFFF;
  --white-30: rgba(255,255,255,0.3);
  --black-60: rgba(0,0,0,0.6);
  --black-30: rgba(0,0,0,0.3);
  --black: #282136;
  --swamp-10: rgba(0,1,1,0.1);
  --gray-light: #A6A6A6;
  --gray-lighter: #E1E1E1;
  --red-light: #FB565A;
  --red: #E74246;
  --red-dark: #D7373B;
  --green-light: #00CA74;
  --green: #00BC6C;
  --green-dark: #00AA62;
  --yellow-light: #EFC84A;
  --yellow: #EAB534;
  --yellow-dark: #E5A722;
  --gray-dark: #444444;
  --gray-50: rgba(68,68,68, 0.5);
  --gray-dark4D: #4D4D4D;
  --gray-dark66: #666666;
  --gray-lightD7: #D7DCDE;
  --gray-lightB4: #B4B9BB;
  --gray-lightDF: #DFDFDF;
  --gray-lightD5: #D5D5D5;
  --gray-lightDB: #DBDBDB;

}

/* Global */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* Header*/

.page-header {
  background-color: var(--basic-gray);
}

.page-header-logo[href]:active img {
  opacity: 0.3;
}

/* Main navigation */

.page-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation-link:hover {
  color: var(--red-light);
}

.site-navigation-link:active {
  color: var(--black-30);
}

/* Slider */

.slider {
  background-color: var(--basic-gray);
}

.slider-list {
  list-style: none;
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.button {
  display: inline-flex;
  align-items: center;
  vertical-align: baseline;
  justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 500;
  background-color: var(--red-light);
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 100ms, color 100ms;
}
  .button:hover {
    background-color: var(--red);
  }
  .button:active {
    color: var(--white-30);
    background-color: var(--red-dark);
    box-shadow: inset 0px 3px 0px var(--swamp-10);
  }

.button-slider {
  width: 240px;
}

/* Services */

.services-list {
  list-style: none;
}

.service-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-services {
  width: 160px;
}

.button-green {
  background-color: var(--green-light);
}
  .button-green:hover{
    background-color: var(--green);
  }
  .button-green:active {
    background-color: var(--green-dark);
  }

.button-yellow {
  background-color: var(--yellow-light);
}
  .button-yellow:hover {
    background-color: var(--yellow);
  }
  .button-yellow:active {
    background-color: var(--yellow-dark);
  }

/* About */

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-desc {
  font-weight: 700;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}

.results-list {
  list-style: none;
}

.result-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.result-item-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.result-item-desc {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
}

/* Partners */

.partners-list {
  list-style: none;
}

.partner-link  {
  opacity: 0.2;
}
  .partner-link:hover {
    opacity: 1;
  }
  .partner-link:active {
    opacity: 0.1;
  }

/* Footer */

.contacts-popup-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.contacts-popup-desc {
  line-height: 18px;
  color: var(--gray-dark66);
}

.button-popup {
  width: 219px;
}


/* Social */

.social-list {
  list-style: none;
}

.button-round {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 100%;
  background-color: var(--gray-lighter);
}
  .button-round:hover {
    background-color: var(--red);
  }
  .button-round:active {
    background-color: var(--red-dark);
    box-shadow: inset 0px 3px 0px var(--swamp-10);
  }
  .button-round:active .social-img {
    background-color: var(--red-dark);
    opacity: 0.3;
    box-shadow: inset 0px 3px 0px var(--swamp-10);
  }

.footer-tagline-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black);
}

.footer-tagline-desc {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--gray-dark);
}

/* Modal */

.modal-title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-form-label {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.input,
.textarea {
  line-height: 18px;
  border: 2px solid var(--gray-lightD7);
  border-radius: 3px;
  box-sizing: border-box;
  height: 50px;
  padding: 16px;
  resize: none;
}
  .input:hover,
  .textarea:hover {
    border-color: var(--gray-lightB4);
  }
  .input:focus,
  .textarea:focus {
    border-color: var(--basic-black);
  }

  .input::placeholder {
    color: var(--gray-50);
  }

  .input:focus::placeholder {
    color: var(--gray-dark);
  }

  .textarea::placeholder {
    color: var(--gray-50);
  }

  .textarea:focus::placeholder {
    color: var(--gray-dark);
  }

  .input:invalid,
  .textarea:invalid {
    border-color: var(--red);
    color: var(--red);
  }

  .button-modal {
    width: 259px;
  }

 /* Catalog page */

.catalog-header {
  background-color: var(--basic-gray);
}

.catalog-header-title {
   font-size: 55px;
   line-height: 55px;
   font-weight: 500;
   color: var(--basic-black);
   text-align: center;
}

.site-navigation-link-current {
  border-bottom: 2px solid var(--red-light);
}

/* Form */

.form-filters fieldset {
   border: none;
   margin: 0;
}

.form-filters-title {
   font-size: 18px;
   line-height: 30px;
   font-weight: 700;
   color: var(--basic-black);
   text-transform: uppercase;
}

.form-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.price input[type="number"] {
    width: 80px;
    height: 38px;
    text-align: center;
    background-color: var(--basic-gray);
    border: none;
    border-radius: 3px;
}

.price-label {
   line-height: 22px;
   text-transform: uppercase;
}

.form-list-label {
  line-height: 19px;
}

.button-filters {
  width: 260px;
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
 .button-gray:hover {
    background-color: var(--gray-lightDF);
  }
 .button-gray:active {
    background-color: var(--gray-lightD5);
 }



/* Sort */

 .sort-list {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .sort-list-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--black-30);
  text-decoration: none;
  text-transform: uppercase;
 }
  .sort-list-link:hover {
    color: var(--black-60);
  }
  .sort-list-link:active,
  .sort-list-link:focus{
    color: var(--basic-black);
  }

/* Templates */

.templates-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.templates-list-link {
  text-decoration: none;
}

.template-background {
  background-color: var(--basic-gray);
}

.template-desc {
  line-height: 18px;
  color: var(--gray-dark66);
}

.templates-list-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}
.templates-list-link:hover {
  color: var(--red-light);
}
.templates-list-link:focus {
  color: var(--black-30);
}

.button-templates {
  width: 200px;
}

/* Pagination */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-pagination {
  width: 50px;
  box-sizing: border-box;
}

.button-pagination-next {
  width: 260px;
  box-sizing: border-box;
}

.button-pagination-active {
  background-color: var(--basic-white);
  border: 3px solid var(--gray-lightDB);
}













