@import "./combined.css";

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --color-cornflower-blue-50: rgba(100, 149, 237, 0.5);
  --color-silver-chalice: #A5A5A5;
  --color-silver-chalice-30: rgba(166, 166, 166, 0.3);
  --color-thunder: #231F20;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-white: #FFFFFF;
  --white-30: rgba(255, 255, 255, 0.3);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-15: rgba(0, 0, 0, 0.15);
  --black: #282136;
  --swamp-10: rgba(0, 1, 1, 0.1);
  --gray-light: #A6A6A6;
  --gray-lighter: #E1E1E1;
  --red-light: #FB565A;
  --red: #E74246;
  --red-dark: #D7373B;
  --green-light: #00CA74;
  --green: #00BC6C;
  --green-dark: #00AA62;
  --yellow-light: #EFC84A;
  --yellow: #EAB534;
  --yellow-dark: #E5A722;
  --gray-dark: #444444;
  --gray-50: rgba(68, 68, 68, 0.5);
  --gray-dark4D: #4D4D4D;
  --gray-dark66: #666666;
  --gray-darkAB: #ABABAB;
  --gray-lightD7F: #D7DCDF;
  --gray-lightD7: #D7DCDE;
  --gray-lightB4: #B4B9BB;
  --gray-lightDF: #DFDFDF;
  --gray-lightD5: #D5D5D5;
  --gray-lightDB: #DBDBDB;
  --silver: #C1C1C1;

  --time-microinteraction: 100ms;
}

/* TODO:
  1. Привести переменные цвета к виду --color-<color-name>, <color-name> брать с сайта namethatcolor;
  2. Попробовать самостоятельно потестировать на переполнение;
  3. Написать JS для оживления слайдера и модального окна;
  4. Проверка на pixel perfect;
  5. Привести к нормальной системе имен и структуре папок изображения.
*/
