.button-round {
  --size: 81px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);

  vertical-align: top;
  transition: background-color var(--time-microinteraction);
  user-select: none;

  outline: none;
  border-radius: 100%;
  background-color: var(--color-mercury);
}

button.button-round:not(:disabled) {
  cursor: pointer;
}

a.button-round:not([href]) {
  cursor: auto;
}

.button-round:hover,
.button-round:focus-visible {
  background-color: var(--color-cinnabar);
}

.button-round:active {
  background-color: var(--color-valencia);
  box-shadow: inset 0px 3px 0px var(--color-swamp-10);
}

.button-round:active .button-round__icon {
  opacity: 0.3;
  background-color: var(--color-valencia);
  box-shadow: inset 0px 3px 0px var(--color-swamp-10);
}

.button-round:focus-visible {
  box-shadow: 0 0 0 4px var(--color-cornflower-blue-50);
}

.button-round__icon {
  transition: opacity var(--time-microinteraction);
  pointer-events: none;
}
