.write-us-modal__form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.write-us-modal__form-label {
  display: flex;
  flex-direction: column;

  color: var(--basic-black);

  line-height: 18px;
  font-weight: 700;
}

.write-us-modal__form-field {
  width: 360px;
}

.write-us-modal__form-field_message-text {
  width: 760px;
  margin-top: 34px;
}

.write-us-modal__form-control {
    margin-top: 9px;
}

.write-us-modal__button {
    margin-top: 48px;
}

.textarea-field {
    width: 760px;
}


