.button-switch {
    --size: 18px;

    position: relative;

    width: var(--size);
    height: var(--size);
    padding: 0;

    cursor: pointer;
    user-select: none;

    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--color-white);
}

.button-switch:focus-visible {
  box-shadow: 0 0 0 4px var(--color-cornflower-blue-50);
}

.button-switch::before {
    --size: 8px;

    position: absolute;
    right: 5px;
    bottom: 5px;

    box-sizing: border-box;
    width: var(--size);
    height: var(--size);
    visibility: hidden;

    content: "";
    transition: opacity var(--time-microinteraction), border-color var(--time-microinteraction);

    border: 2px solid var(--color-silver);
    border-radius: 50%;
}

.button-switch_current::before {
    visibility: visible;
}

.button-switch:hover::before,
.button-switch:focus-visible::before {
    border-color: var(--color-tundora-dark);
}

.button-switch:active::before {
    opacity: 0.5;
}
