.contacts {
    position: relative;

    height: 416px;

    background-color: var(--color-gray);
    background-image: url(/img/map.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    pointer-events: none;
  }

  .contacts__map-marker {
    position: absolute;
    bottom: 142px;
    right: 245px;

    pointer-events: auto;
  }

  .contacts__popup {
    position: absolute;
    bottom: 54px;
    left: 0;

    pointer-events: auto;
  }
