.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;

    display: none;

    box-sizing: border-box;
    width: 960px;
    height: 590px;
    margin: auto;
    padding: 63px 90px 82px 100px;

    background-color: var(--color-white);
    box-shadow: 0 20px 40px var(--color-black-40);
}

.modal_visible {
  display: block;
  animation: bounce 0.6s;
}

.modal_error {
  animation: bounce 0.6s, shake 0.6s;
}

.modal__close-button {
  position: absolute;
  top: 78px;
  right: 90px;

  display: block;

  cursor: pointer;

  opacity: 0.3;
}

.modal__title {
    margin: 0 0 37px 0;

    color: var(--color-black);

    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

