.template {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    width: 358px;
    height: 618px;
}

.template::before {
    display: block;

    content: "";

    width: 360px;
    height: 40px;

    transition: opacity 500ms;

    opacity: 0.12;
    background-image: url(/img/template-header.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.template:hover::before {
    opacity: 1;
}

.template-title {
    margin: 26px 0 12px;
    padding: 0;
}

.template-image {
    width: 358px;
    height: 578px;
}

.template-link {
    text-decoration: none;
}

.template-background {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 360px;
    min-height: 231px;

    text-align: center;

    background-color: var(--color-gray);
}

.template-background {
    opacity: 0;
}

.template:hover .template-background,
.template-background:focus-within {
    opacity: 1;
}

.template-desc {
    margin-bottom: 32px;

    color: var(--color-dove-gray);

    line-height: 18px;
}

.template-link {
    text-transform: uppercase;

    color: var(--color-black);

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.template-link:hover {
    color: var(--color-carnation);
}

.template-link:focus {
    color: var(--color-black-30);
}
