.showcase-list {
  --border: 2px solid var(--basic-gray);

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  border-top: var(--border);
  border-bottom: var(--border);
}

.showcase__item {
  position: relative;
}

.showcase__item::after {
  position: absolute;
  top: 50%;

  width: 2px;
  height: 50px;

  content: "";
  transform: translateY(-50%);

  background-color: var(--basic-gray);
}

.showcase__item:nth-child(4n)::after {
  content: none;
}

.showcase__link {
  display: inline-flex;

  box-sizing: border-box;
  height: 180px;

  vertical-align: top;

  opacity: 0.2;
  outline: none;
}

.showcase__link:hover,
.showcase__link:focus-visible {
  opacity: 1;
}

.showcase__link:active {
  opacity: 0.1;
}

.showcase__link:focus-visible {
  box-shadow: 0 0 0 4px var(--color-cornflower-blue-50);
}

.showcase__link_html-academy {
  width: 279px;

  padding: 63px 0 0 32px;
}

.showcase__link_barbershop {
  width: 298px;

  padding: 46px 0 0 45px;
}

.showcase__link_pink {
  width: 298px;

  padding: 65px 0 0 58px;
}

.showcase__link_mishka {
  width: 277px;

  padding: 52px 0 0 63px;
}
