.slider {
  min-height: 431px;

  background-color: var(--basic-gray);
}

.slider__inner {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: relative;

  overflow: hidden;
  display: none;

  box-sizing: border-box;
  min-height: 431px;
  padding: 78px 0;
}

.slider__item_visible {
  display: block;
}

.slider__item-img {
  position: absolute;
  top: 0px;
  right: 3px;
}

.slider__item-inner {
  position: relative;
  z-index: 1;

  max-width: 536px;
}

.slider__item-title {
  margin: 0 0 25px 0;

  color: var(--basic-black);

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item-desc {
  margin: 0;
}

.slider__item-button {
  margin-top: 38px;
}



.slider__controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  z-index: 20;

  display: flex;
  column-gap: 17px;

  transform: translateX(-50%);
}
