.fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.fieldset_price {
    margin: 0 0 54px;
    padding: 0;

    border: none;
}

.fieldset_grid {
    margin: 0 0 43px;
}


.fieldset__title {
    margin: 0 0 14px;
    padding: 0;

    text-transform: uppercase;

    color: var(--color-black);

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.fieldset__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.fieldset__title_price {
    margin: 0 0 48px;
}






