.input-text {
    box-sizing: border-box;
    height: 50px;
    padding: 16px;

    resize: none;

    border: 2px solid var(--color-iron-light);
    border-radius: 3px;

    line-height: 18px;
}

.input-text:hover {
    border-color: var(--color-silver-sand);
}

.input-text:focus {
    border-color: var(--color-black);
}

.input-text:focus-visible {
  box-shadow: 0 0 0 4px var(--color-cornflower-blue-50);
}

.input-text::placeholder {
    color: var(--color-tundora-50);
}

.input-text:focus::placeholder {
    color: var(--color-tundora);
}

.textarea::placeholder {
    color: var(--color-tundora-50);
}

.textarea:focus::placeholder {
    color: var(--color-tundora);
}

.input-text:invalid {
    color: var(--color-cinnabar);
    border-color: var(--color-cinnabar);
}

/* Context Modifiers */

.input-text_message-text {
    height: 118px;
}
