.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    row-gap: 30px;

    margin: 0 0 55px 0;
    padding: 0;

    list-style: none;
}

.catalog-list-item:hover,
.catalog-list-item:focus {
  box-shadow: 0 6px 15px var(--color-black-25);

  border-color: transparent;
}
