.input-checkbox {
    display: flex;
    align-items: flex-start;
}

.input-checkbox-control:disabled + .input-checkbox-label-wrapper {
    opacity: 0.1;
}

.input-checkbox-control:disabled + .input-checkbox-label-wrapper .input-checkbox-button {
    opacity: 1;
}

.input-checkbox-control:focus-visible + .input-checkbox-label-wrapper .input-checkbox-button {
    opacity: 1;
    box-shadow: 0 0 0 4px var(--color-cornflower-blue-50);
}

.input-checkbox-control:checked+.input-checkbox-label-wrapper .input-checkbox-button {
    background-image: url(/img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.input-checkbox-label-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 11px;

    cursor: pointer;
    transition: opacity 100ms;
}

.input-checkbox-label-wrapper:hover .input-checkbox-button {
    opacity: 1;
}

.input-checkbox-button {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 25px;
    height: 23px;

    opacity: 0.4;
    outline: none;
    background-image: url(/img/checkbox-off.svg);
    background-repeat: no-repeat;
}
