.page {
    height: 100%;

    color: var(--color-steel-gray);

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.page_modal-visible {
    overflow: hidden;
}

