.results {
  display: flex;
  flex-direction: column;
}

.results__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;

  list-style: none;
}

.results__img {
  display: block;

  margin-bottom: 37px;
}

.results__title {
  align-self: center;

  margin: 0 0 31px 0;

  text-transform: uppercase;
}

.result__item {
  color: var(--color-black);

  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.result__item-percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.result__item-desc {
  margin: 10px 0 0;

  color: var(--color-steel-gray);

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
